h1 {
  text-align: center;
  color: rgb(62, 58, 113);
}

body {
  background-color: rgb(236, 179, 94);
  /* text-align: center; */
}

img.rest {
 width: 500px;
 height: auto;
 border-radius: 40px;
}

img.rest-main {
  width: 40%;
}

a {
  text-decoration: none;
}