h1 {
  text-align: center;
  color: #074C66;
  font-family: 'Oleo Script',
  cursive;
}

body {
  background-color: #074C66;
  text-align: center;
}

main {
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
}

img {
 width: 500px;
 height: auto;
 border-radius: 20px;
 
}

a {
  text-decoration: none;
}

nav {
  background-color: #56C2EA;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  color: black;
  font-size: 1.5em;
}

nav a:hover {
  color: #d58025;
  text-decoration: none;
}

#navbar {
  font-family: 'Oleo Script',
  cursive;
}

.photoCred {
  font-size: 0.7em;
}

label {
  font-weight: bold;
}

.btn:hover {
  color: #ef8a1f
}

.btn {
  border-color: #56C2EA;
  border-width: 2px;
}